{% include 'header2.html' %}
<body>
    
<section>
<div class="container"style="">
<form method="post"action="{% url 'contact' %}">
{% csrf_token %}
<!--Name-->
<div class="row">
<div id="nameDiv"class="col-sm-5 text-center"style="margin:auto;display:block;padding-top:200px;padding-bottom:220px;"data-aos="zoom-in">
<h1 class="mb-3"style="font-weight:bold;color:#00aca4;"> 1/5 </h1>
<h3 style="font-weight:1000">HI THERE! LOOKING FOR A FREE QUOTE?SIMPLY FILL OUT THE FORM BELOW</h3>
<input id="fname"class="form-control my-5 py-3"type="text" name="fname" placeholder="Enter Your First Name Here"style="border:0px;border-bottom:3px solid #00aca4;;border-radius:0px;">
<div class="main-green-button scroll-to-section text-center">
<a id="nameBtn">Next</a> 
</div>
</div>
</div>

<!--Job-->
<div class="row">
<div id="jobDiv"class="col-sm-5 text-center"style="margin:auto;display:none;padding-top:200px;padding-bottom:220px;"data-aos="zoom-in">
<h1 class="mb-3"style="font-weight:bold;color:#00aca4;"> 2/5 </h1>
<span style="font-size:28px;font-weight:1000">HI</span>
<span id="clientName" class="mt-0 pt-0" style="font-weight:1000;text-transform:uppercase;font-size:28px;"></span><span style="font-size:28px;font-weight:1000">! WHICH SERVICE DO YOU NEED ME FOR?</span>
<select class="form-control my-5 py-3" name="service"style="border:0px;border-bottom:3px solid #00aca4;;border-radius:0px;">
<option selected value="Logo Design">Logo Design</option>
<option value="Front End">Front End</option>
<option value="Backend">Backend</option>
<option value="Wordpress">Wordpress</option>
<option value="Full-Stack Custom Website">Full-Stack Custom Website</option>
</select>
<div class="main-green-button scroll-to-section text-center">
<span><a id="jobBtnBack">Back</a></span>  <span><a id="jobBtnNext">Next</a></span>
</div>
</div>
</div>

<!--About You-->
<div class="row">
<div id="aboutDiv"class="col-sm-5 text-center"style="margin:auto;display:none;padding-top:200px;padding-bottom:220px;"data-aos="zoom-in">
<h1 class="mb-3"style="font-weight:bold;color:#00aca4;"> 3/5 </h1>
<h3 style="font-weight:1000">COOL! WE NEED A BIT MORE INFO FROM YOU</h3>
<input class="form-control my-3 py-3"type="text" name="lname" placeholder="Enter Your Last Name Here"style="border:0px;border-bottom:3px solid #00aca4;;border-radius:0px;">
<input class="form-control my-3 py-3"type="text" name="email" placeholder="zafranraja5@gmail.com"style="border:0px;border-bottom:3px solid #00aca4;;border-radius:0px;">
<input class="form-control my-3 py-3"type="text" name="phone" placeholder="+923485439075"style="border:0px;border-bottom:3px solid #00aca4;;border-radius:0px;">
<input class="form-control my-3 py-3"type="text" name="company"placeholder="Which Company Are You With?"style="border:0px;border-bottom:3px solid #00aca4;;border-radius:0px;">
<div class="main-green-button scroll-to-section text-center">
<span><a id="aboutBtnBack">Back</a></span>  <span><a id="aboutBtnNext">Next</a></span>
</div>
</div>
</div>

<!--Your Message-->
<div class="row">
<div id="messageDiv"class="col-sm-5 text-center"style="margin:auto;display:none;padding-top:200px;padding-bottom:220px;"data-aos="zoom-in">
<h1 class="mb-3"style="font-weight:bold;color:#00aca4;"> 4/5 </h1>
<h3 style="font-weight:1000">PLEASE DESCRIBE YOUR PROJECT</h3>
<textarea class="form-control my-3"type="textarea"placeholder="Let us know what you are thinking"name="message"style="color:#00aca4;border:3px solid #00aca4;border-radius:5px;background:none;padding:10px;"rows="6" cols="80"></textarea>
<div class="main-green-button scroll-to-section text-center">
<span><a id="messageBtnBack">Back</a></span>  <span><input class="btn" type="submit" value="Send"></span>
</div>
</div>
</div>

</form>
</div>
</section>  

<script>
$(document).ready(function(){
    $('#nameBtn').click(function(){
        $('#nameDiv').hide()
        $('#jobDiv').css("display","block")
        $('#clientName').html($('#fname').val())
    });

        $('#jobBtnNext').click(function(){
        $('#jobDiv').hide()

        $('#aboutDiv').css("display","block")
    });
        
        $('#jobBtnBack').click(function(){
        $('#jobDiv').hide()
        $('#nameDiv').css("display","block")
    });

        $('#aboutBtnNext').click(function(){
        $('#aboutDiv').hide()
        $('#messageDiv').css("display","block")
    });
        $('#aboutBtnBack').click(function(){
        $('#aboutDiv').hide()
        $('#jobDiv').css("display","block")
    });
        $('#messageBtnBack').click(function(){
        $('#messageDiv').hide()
        $('#aboutDiv').css("display","block")
    });
});
</script>
</body>
{% include 'footer.html' %}