{% load static %}
  <footer>
  <section class="bg-dark">
    <div class="container">
      <div class="row text-light text-center">
       <div class="col-lg-12 mt-5 text-light">
       <h4 class="mb-4" style="font-weight:1000">FOLLOW ME</h4>
       <span><a href=""><i class="fab fa-2x mx-2 text-light fa-facebook-square"></i></a></span>
       <span><a href=""><i class="fab fa-2x mx-2 text-light fa-instagram"></i></a></span>
       <span><a href=""><i class="fab fa-2x mx-2 text-light fa-twitter-square"></i></a></span>
       <span><a href=""><i class="fab fa-2x mx-2 text-light fa-youtube"></i></a></span>
       <span><a href=""><i class="fab fa-2x mx-2 text-light fa-linkedin-square"></i></a></span>
       </div>
        <div class="col-lg-12">
          <p class="text-light">Copyright © 2021 Zprofession. All Rights Reserved. 
        </div>
      </div>
    </div>
  </section>
  </footer>