{% include 'header.html' %}
{% load static %}

<!--HERO SECTION-->
 <section>
  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-4 col-sm-4">
                    <div class="info-stat">
                      <h6>Status:</h6>
                      <h4>Ready For Work</h4>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <div class="info-stat">
                      <h6>Price:</h6>
                      <h4>$150-$3000/ Website</h4>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <div class="info-stat">
                      <h6>Schedules</h6>
                      <h4>All Day</h4>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <h2>Web Design &amp; Development</h2>
                  </div>
                  <div class="col-lg-12">
                    <div class="main-green-button scroll-to-section">
                      <a href="#contact">Get Your Quote</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{% static 'images/banner-right-image.png' %} " alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </section>

<!--FEATURES SECTION-->
<section>
  <div id="flow" class="features section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="features-content">
            <div class="row">
              <div class="col-lg-3">
                <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                  <div class="first-number number">
                    <h6>01</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Requirements Analysis</h4>
                  <div class="line-dec"></div>
                  <p>First of all, I gather all requirements from the customer.If He has demo then it is easy for me.</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-item second-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                  <div class="second-number number">
                    <h6>02</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Development</h4>
                  <div class="line-dec"></div>
                  <p>After having all the requirements, I do start development of website or web app.Increments are accepted.</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                  <div class="third-number number">
                    <h6>03</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Testing</h4>
                  <div class="line-dec"></div>
                  <p>After development phase, here comes the testing phase.In testing phase with assistance of customer, I test all components and modules.</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-item second-feature last-features-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                  <div class="fourth-number number">
                    <h6>04</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Deployment</h4>
                  <div class="line-dec"></div>
                  <p>Finally, If the user go for my recommended hosting servers, I deploy the website to production.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="skills-content">
            <div class="row">
              <div class="col-lg-3">
                <div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                  <div class="progress" data-percentage="86">
                    <span class="progress-left">
                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">
                      <div>
                        86%<br>
                        <span>HTML/CSS/JS</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                  <div class="progress" data-percentage="89">
                    <span class="progress-left">
                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">
                      <div>
                        89%<br>
                        <span>Wordpress</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                  <div class="progress" data-percentage="86">
                    <span class="progress-left">
                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">
                      <div>
                        86%<br>
                        <span>Django Python</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="skill-item last-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                  <div class="progress" data-percentage="71">
                    <span class="progress-left">
                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">
                      <div>
                        71%<br>
                        <span>SEO</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--ABOUT SECTION-->
<section>
  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
            <img src="{% static 'images/about-left-image.png' %} " alt="">
          </div>
        </div>
        <div class="col-lg-6 align-self-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
          <div class="section-heading">
            <h6>About Us</h6>
            <h2>Top Rated <em>Web</em> Developer &amp; Have your website <span>with us</span></h2>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-4">
              <div class="about-item">
                <h4>20+</h4>
                <h6>projects finished</h6>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="about-item">
                <h4>15+</h4>
                <h6>happy clients</h6>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="about-item">
                <h4>10+</h4>
                <h6>certificates</h6>
              </div>
            </div>
          </div>
          <p>Customer Satisfaction is My Top Priority And I Do My Best For All Of Them. <span class="text-success">Free One Month Support</span>  After The Delivery Is Another Good News For My Clients. Maintenance Is Not Very Expensive Too.</p>
          <div class="main-green-button"><a href="#">Discover company</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--SERVICES SECTION-->
<section>
  <div id="services" class="our-services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h6>Our Services</h6>
            <h2>Discover What We Do &amp; <span>Offer</span> To Our <em>Clients</em></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <img src="{% static 'images/service-icon-01.png' %} " alt="">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>Front End Development</h4>
                  <p>With My Top Level Skills In HTML/CSS, I Desing The Best Possible Front End.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <img src="{% static 'images/service-icon-02.png' %} " alt="">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>JavaScript Logics</h4>
                  <p>With My Expertise In JavaScript, I Do Write Any Kind Of Logics To Make The Front End Of Website More Attractive.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <img src="{% static 'images/service-icon-03.png' %} " alt="">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>Responsive Designs</h4>
                  <p>By Using Bootstrap Top Features, I Make The Websites Fully Responsive To All Screen Sizes.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <img src="{% static 'images/service-icon-03.png' %} " alt="">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>Django Python</h4>
                  <p>I Love Writing Powerful And Optimised Code For Backend Of Website.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.7s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <img src="{% static 'images/service-icon-01.png' %} " alt="">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>Speed Optimizations</h4>
                  <p>I Make Sure That Website Is As Fast As It Should Be, By Optimising The Images, JavaScript Libraries And Less Lines Of Code.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.8s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <img src="{% static 'images/service-icon-02.png' %} " alt="">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>SEO</h4>
                  <p>I Make Sure That All Core Points For SEO Are Done To Make Website Appear On Google Search Results As Soon As Possible.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--PORTFOLIO SECTION-->
<section>
  <div id="portfolio" class="our-portfolio section">
    <div class="container">
    
      <div class="row">
        <div class="col-lg-5"style="margin:auto;">
          <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
            <h6 class="text-center">Our Portofolio</h6>
            <h2 class="text-center">Discover Our Recent <em>Projects</em> And <span>Showcases</span></h2>
          </div>
        </div>
      </div>
         <div class="row"data-aos="zoom-in">
<!--PORTFOLIO card starts-->
          <div class="col-sm-3">
<a href="">
          <div class="website border rounded px-2 py-5 m-3 text-center"style="background:#00D1E2;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
          <p class="mb-2"><b>Website Name</b></p>
          <p style="background:#C4C4C4;border-radius:50px;font-size:12px;">https://zprofession.com</p>
          <p class="text-secondary mt-2"style="font-size:13px;">Customer Name</p>
          </div>
</a>
          </div>
<!--PORTFOLIO card ends-->

<!--PORTFOLIO card starts-->
          {% for websites in websites %}
          <div class="col-sm-3">
<a href="{{websites.Link}}" target="_blank">
          <div class="website border rounded px-2 py-5 m-3 text-center"style="background:#00D1E2;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
          <p class="mb-2"><b>{{websites.Name}}</b></p>
          <p style="background:#C4C4C4;border-radius:50px;font-size:12px;">{{websites.Link}}</p>
          <p class="text-secondary mt-2"style="font-size:13px;">{{websites.Customer}}</p>
          </div>
</a>
          </div>
          {% endfor %}
<!--PORTFOLIO card ends-->

          </div>
<div class="more my-3">
<a class="btn text-center" style="float:right;"href="">More <i class="fas fa-arrow-alt-circle-right"></i></a>
</div>

    </div>
  </div>
</section>



<!--CONTACT US SECTION-->
<section>
  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-8">
              <div class="section-heading wow fadeInLeft mb-3" data-wow-duration="1s" data-wow-delay="0.3s">
                <h6>Contact Me</h6>
               <h2>DO YOU HAVE A <em>PROJECT</em> FOR <span>ME</span></h2>
              </div>  
<span style="font-weight:600;">Get Your Quote By Clicking The Button Below And I Will Contact You In A While</span>
<div class="main-blue-button mt-5">
<a href="{% url 'contact' %}">Get Your Quote <i class="fas fa-arrow-alt-circle-right"></i></a>
</div>
<div class="socialicons mt-5">
       <span><a href=""><i class="fab fa-2x mx-2 text-secondary fa-facebook-square"></i></a></span>
       <span><a href=""><i class="fab fa-2x mx-2 text-secondary fa-instagram"></i></a></span>
       <span><a href=""><i class="fab fa-2x mx-2 text-secondary fa-twitter-square"></i></a></span>
       <span><a href=""><i class="fab fa-2x mx-2 text-secondary fa-youtube"></i></a></span>
       <span><a href=""><i class="fab fa-2x mx-2 text-secondary fa-linkedin-square"></i></a></span>
</div>
              </div>
              
              <div class="col-lg-4">
                <div class="contact-info">
                  <ul>
                    <li>
                      <div class="icon">
                        <img src="{% static 'images/contact-icon-01.png' %} " alt="email icon">
                      </div>
                      <a href="mailto: zafranraja5@gmail.com">zafranraja5@gmail.com</a>
                    </li>
                    <li>
                      <div class="icon">
                        <img src="{% static 'images/contact-icon-02.png' %} " alt="phone">
                      </div>
                      <a href="https://wa.me/92385439075" target="_blank">+923485439075</a>
                    </li>
                    <li>
                      <div class="icon">
                        <img src="{% static 'images/contact-icon-03.png' %} " alt="location">
                      </div>
                      <a href="https://en.wikipedia.org/wiki/Azad_Kashmir" target="_blank">Azad Kashmir, Pakistan</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'footer.html' %}

