{% include 'header2.html' %}
<body style="background:#E7E7E7">
    <div class="container">
    <div class="row">
    <div class="col-sm-8"style="margin:auto;">
    <div class="mx-1 my-5">
    <br><br><br><br><br><b><br></b><br><br>

   <!--Thank You Card Starts-->
    <div class="post-card  p-4 my-3 border rounded bg-light"style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
    <h5 class="mt-2"style="font-weight:600;color:#4E4E4E;">Zprofession Service Confirmation</h5>
    <hr>
    <p> <b>{{First_Name}}</b> Your Request For <b>{{Service}}</b> Has Been Submitted Successfully.</p>
    <p>Thank You For Choosing Me.</p>
    <p>I Will Contact You In A While.</p>
    <p>Check Out The Service Status At <a href="#">Order Dashboard</a>.</p>
    </div>
   <!--Thank You Card Ends-->   
          
    </div>
    <br><br><br><br><br>
    </div>
    </div>
    </div>
</body>
{% include 'footer.html' %}